body {
  margin: 0;
  font-family: src("./fonts/blinkmacsystemfont-black.ttf"),Arial, Helvetica, sans-serif;
}
.header {
  background-color: #DE4C4A;
  color: white;
  height: 50px;
  font-size: xxx-large;
}